@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root{
    --primary-color:#312e81;
    --secondary-color:aqua; /*#eff6ff optional*/
    --tertiary-color:rgb(195, 255, 255);
    --red:rgb(252, 195, 195);
}
body{
    font-family: 'Patrick Hand', cursive;
    background-color: var(--primary-color);
    margin: 0px;
}

h1#heading {
    text-align: center;
    margin: 3rem 0 3rem 0;
    font-size: 3rem;
    color: var(--secondary-color);
    font-stretch: wider;
    padding: 1rem;
}
.container input, label, button{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1rem;
}
label{
    font-size: 2rem;
    color: var(--tertiary-color);
}

input#birth-date{
    margin-bottom: 2rem ;
}
input#lucky-number{

}
button{
    margin-top: 2rem;
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    border-radius: .5rem;
    border: 4px black solid;
}
p#results{
    color: var(--secondary-color);
    text-align: center;
    font-size: 2rem;
}
p#error-message{
    color:rgb(255, 132, 0);
    text-align: center;
    font-size: 2rem;
    display: block;
}

.center-container{
    width: 350px;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}
.note{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 1rem;
    color: #eff6ff;
    padding: 2rem;
}

footer {
    text-align: center;
    color: var(--secondary-color);
    margin: 2rem 0 2rem 0;

}
li.non-bullet{
    margin-top: 1rem;
}
.non-bullet{
    list-style: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;

}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: inherit;
}